*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

body{
	background-color: grey;
	overflow-x: hidden;
}

.main-header{
	background-color: #0c0c0c;
	display: flex;
	justify-content: space-between;

}

.main-header h1{
	color: whitesmoke;
	font-size: 40px ;
	padding: 20px;
}

.main-header div a{
	line-height: 85px;
	text-decoration: none;
	border: hidden 1px red;
	padding: 20px;
	background-color: whitesmoke;
	color: #0c0c0c;
	border-radius: 5px;
}

.main-content{
	display: flex;
	justify-content: space-between;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 100px;
}

.user-area{
	cursor: pointer;
	background-color: pink;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

